body{
    background-image: url("slider2.jpg");
    background-size: cover;
}
div{
    float: right;
    width: 700px;
    height: auto;
    background: white;
}

img{
    position: absolute;
    left: 75%;
    z-index: -1;
}

p{
    text-align: right;
}
